.navbar {
  border-bottom: 0px solid #e6e6e6;
  background: linear-gradient(to right, #dc3545, #bd9dea);

  .container {
    .logo {
      width: 75px;
      height: 50px;
    }

    .navbar-buttons {
      .input-form {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50px;
        padding-right: 2px;

        #input-search {
          width: 0;
          text-indent: 16px;
          padding: 0 !important;
          padding-left: 10px;
          border-radius: 30px 0 0 30px !important;
          height: 28.4px;
          border: none;
          // border-radius: 5px 0 0 5px;
          outline: none;
        }

        #btn-search {
          cursor: pointer;
          border-radius: inherit;
          background-color: #bd9dea;
          color: #000;
          height: 28.4px;
        }
      }
      .input-form:hover {
        background: #fff;
      }

      .input-form:hover #input-search {
        width: 200px;
      }
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          font-weight: 700;
          padding: 24px 15px !important;
        }

        .nav-link.active,
        .nav-link:hover,
        .nav-link:focus {
          color: #fdec01;
        }

        @media (max-width: 991.98px) {
          .nav-link {
            padding: 10px 15px !important;
          }
        }
      }

      .dropdown {
        @media (max-width: 991.98px) {
          .dropdown-menu {
            position: relative !important;
            border: none;
          }
        }
      }

      @media (min-width: 992px) {
        .dropdown:hover .dropdown-menu {
          display: block;
        }

        .menu-product {
          left: inherit;
        }

        .menu-brand {
          left: inherit;
        }
      }

      .menu-large {
        .banner {
          margin-bottom: 10px;
        }

        ul {
          margin: 0;
          padding: 0;

          .nav-item {
            list-style-type: none;
            border-bottom: solid 1px #eee;
            text-transform: uppercase;
            letter-spacing: 0.1em;

            a {
              color: rgb(64, 64, 64);
              font-size: 0.738rem;
              display: block;
              padding: 10px 10px !important;
            }

            a:hover {
              background: linear-gradient(to right, #be0000, #ff8800);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              // color: #29693b !important;
              // text-decoration: none;
              // background-color: white;
              // width: inherit;
            }
          }
        }
      }

      .megamenu {
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      }

      @media (max-width: 991.98px) {
        .megamenu {
          padding: 15px !important;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
    }

    #basket-overview {
      padding: 0;
    }

    .navbar-btn {
      color: #fff;
      outline: none !important;
      border: none !important;
      box-shadow: none;
    }
  }
}

.dropdown-menu.menu-product {
  // padding: 0;
  // margin: 0.125rem 0 0;
  min-width: 12rem;
  font-size: 0.9rem;
  color: #212529;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0 5px 5px;
}

.dropdown-item {
  padding: 0.25rem 1.5rem;
  font-weight: 400;
  color: #212529;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #29693b !important;
  background-color: white;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #6c757d;
}

hr {
  margin: 0;
}
